<template>
  <div class="home">
    <v-container
    class="grey mb-6">
      <h1>Status</h1>
      <v-data-table
      v-if="channels !== null"
      :headers="headers"
      :items-per-page="5"
      class="elevation-1 mt-6"
      :items="channels">
      </v-data-table>
      <h1 class="mt-6">Actions</h1>
      <v-container
      class="grey mb-6">
        <v-row align="center">
          <v-col v-for="(channel, i) in channels" v-bind:key="i">
              <h2>{{channel.elem}}</h2>
              <v-btn
                v-if="channel.state === true"
                class="ma-2"
                color="secondary"
                @click="switchRelay(i+1)"
              >
                Désactiver
              </v-btn>
              <v-btn
                v-bind:key="i"
                v-else-if="channel.state === false"
                class="ma-2"
                color="primary"
                @click="switchRelay(i+1)">
                Activer
              </v-btn>
          </v-col>
        </v-row>
      </v-container>
      <h1 class="mt-6">Gérer</h1>
      <v-container
      class="grey mb-6">
        <v-row align="center">
          <v-col>
              <v-btn
                class="ma-2"
                color="secondary"
                @click="setIdle()"
              >
                Mettre en veille
              </v-btn>
          </v-col>
        </v-row>
      </v-container>
      <h1 class="mt-6">Test</h1>
      <v-container
      class="grey mb-6">
        <v-row align="center">
          <v-col>
              <v-text-field
                solo
                v-model="heaterTimeOn"
                placeholder="Temps de chauffage"
                type="number"
              >
              </v-text-field>
          </v-col>
          <v-col>
              <v-btn
                class="ma-2"
                color="secondary"
                @click="execHeater('on')"
              >
                Allumer le chauffage
              </v-btn>

              <v-btn
                class="ma-2"
                color="secondary"
                @click="execHeater('off')"
              >
                Eteindre le chauffage
              </v-btn>
          </v-col>
        </v-row>
        <v-row align="center">
          <v-col>
              <v-text-field
                solo
                v-model="pumpTimeOn"
                placeholder="Temps de la pompe"
                type="number"
              >
              </v-text-field>
          </v-col>
          <v-col>
              <v-btn
                class="ma-2"
                color="secondary"
                @click="execPump()"
              >
                Allumer la pompe
              </v-btn>
          </v-col>
        </v-row>
      </v-container>
      <h1 class="mt-6">Café</h1>
      <v-container
      class="grey mb-6">
        <v-row align="center">
          <v-col>
              <v-btn
                class="ma-2"
                color="secondary"
                @click="makeCoffee('long')"
              >
                Long
              </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-container>
  </div>
</template>

<script>

export default {
  name: 'Home',
  components: {

  },
  data () {
    return {
      heaterTimeOn : 0,
      pumpTimeOn : 0,
      channels: null,
      headers : [
        {
          text: "Élément",
          align: 'start',
          value: "elem"
        },
        {
          text: "État",
          align: 'start',
          value: "state"
        },
        {
          text: "Pin",
          align: 'start',
          value: "pin"
        },
        {
          text: "Channel",
          align: 'start',
          value: "channel"
        }
      ]
    }
  },
  methods: {
    async setIdle() {
      this.channels = await this.$axios.$get('/idle');
    },

    async setStatus() {
      this.channels = await this.$axios.$get('/status');
    },

    async switchRelay(id) {
      const response = await this.$axios.get(`/pin/${id}`);
      console.log(response);
    },
    async execHeater(slug) {
      const heaterIndex = this.channels.findIndex(item => item.channel == 4);
      this.channels[heaterIndex].state = slug;
      this.channels = await this.$axios.$get(`/exec/heater/${slug}/cafe`);
    },
    async execPump() {
      const pumpIndex = this.channels.findIndex(item => item.channel == 22);
      this.channels[pumpIndex].state = true;
      this.channels = await this.$axios.$get(`/exec/pump/${this.pumpTimeOn}`);
    },
    async makeCoffee(type) {
      await this.$axios.$get(`/make-coffee/${type}`)
    }
  },
  async created() {
    await this.setStatus();
  }
}
</script>
