<template>
<div class="home">
      <h1 class="mt-6"></h1>
      <v-container class="grey mb-6">
        <v-row align="center">
          <v-col>
              <v-btn
                class="ma-2"
                color="secondary"
                @click="setIdle()"
              >
                Veille
              </v-btn>
               <v-btn
                  class="ma-2"
                  color="secondary"
                  @click="setPoweroff()"
                  >
                  Eteindre
                  </v-btn>
          </v-col>
          <v-col>
            <v-btn
              class="ma-2"
              color="secondary"
            >
              {{temp}}
              </v-btn>
            </v-col>
        </v-row>
      </v-container>
      <h1 class="mt-6"></h1>
      <v-container class="grey mb-6">
        <v-row align="center">
          <v-col>
              <v-btn
                class="ma-2"
                color="secondary"
                @click="execHeater('on')"
              >
                Chauffage
              </v-btn>
          </v-col>
        </v-row>
        <v-row align="center">
          <v-col>
              <v-btn
                class="ma-2"
                color="secondary"
                @click="execPump('on')"
              >
                Pompe
              </v-btn>
          </v-col>
        </v-row>
      </v-container>
  </div>
</template>

<script>
export default {
    data() {
        return {
          temp : 0,
          pumpTimeOn : 0,
          channels: null,
          headers : [
          {
            text: "Élément",
            align: 'start',
            value: "elem"
            },
            {
            text: "État",
            align: 'start',
            value: "state"
            },
            {
            text: "Pin",
            align: 'start',
            value: "pin"
            },
            {
            text: "Channel",
            align: 'start',
            value: "channel"
            }
            ]
        }
    },
    methods: {
        async setIdle() {
          this.channels = await this.$axios.$get('/idle');
        },
         async setPoweroff() {
                  this.channels = await this.$axios.$get('/poweroff');
        },
        async setStatus() {
          this.channels = await this.$axios.$get('/status');
        },

        async switchRelay(id) {
          const response = await this.$axios.get(`/pin/${id}`);
          console.log(response);
        },
        async execHeater(slug) {
          const heaterIndex = this.channels.findIndex(item => item.channel == 4);
          this.channels[heaterIndex].state = slug;
          this.channels = await this.$axios.$get(`/exec/heater/${slug}/cafe`);
        },
        async execPump(slug) {
          const pumpIndex = this.channels.findIndex(item => item.channel == 22);
          this.channels[pumpIndex].state = true;
          this.channels = await this.$axios.$get(`/pin/2`);
        },
        async makeCoffee(type) {
          await this.$axios.$get(`/make-coffee/${type}`)
        },
        async getTemp() {
                  this.temp = await this.$axios.$get(`/temperature/current`)
                }
      },
   async  mounted() {
        console.log('cc');
        this.getTempInterval = await setInterval(async () => {
            await this.getTemp()
            }, 2000 );
        await this.setStatus();
    }
}
</script>
